rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOrganisation() { 
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "organisation";
    }
    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if isSignedIn() && (request.auth.uid == userId || isOrganisation());
      allow delete: if isOrganisation();
    }
    match /tasks/{taskId} {
      allow read: if isSignedIn();
      allow create: if isOrganisation();
      allow update: if isOrganisation();
      allow delete: if isOrganisation();
    }
    match /assignments/{assignmentId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() &&
        request.resource.data.userId == request.auth.uid &&
        request.resource.data.status == "In Progress" &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.quizScore >= 75;
      allow update: if isSignedIn() && (
        (
          resource.data.userId == request.auth.uid &&
          resource.data.status == "In Progress" &&
          request.resource.data.status == "Awaiting Approval"
        )
        ||
        isOrganisation()
      );
      allow delete: if isOrganisation();
    }
    match /hubs/{hubId} {
      allow read: if isSignedIn();
      allow write: if isOrganisation();
    }
  }
}
